.messenger{
	height: calc(100vh - 70px);
	display: flex;

}
.chatMenu{
	flex:3.5

}
.chatMenuInput{
	width: 90%;
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid grey;
}
.chatBox{
	flex:5.5;
	background-color:white;
}
.chatBoxWrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.chatBoxTop{
	height: 100%;
	overflow-y: scroll;
	padding-right: 10px;
}
.chatBoxBottom{
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.chatOnline{
	flex:3;
}
.chatMessageInput{
	width: 80%;
	height: 20px;
	padding:10px;
	margin-bottom: 20px;
	margin-left: 30px;
}
.chatSubmitButton{
	width: 70px;
	height: 40px;
	border: none;
	cursor: pointer;
	background-color: teal;
	border-radius: 5px;
	color: white;
}
.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
	padding: 10px;
	height:100%;
}
.noConversationText{
	position: absolute;
	top:10%;
	font-size: 50px;
	color: rgb(224,220,220);
	text-align: center;
	cursor: default;
}