.Input{
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	font-size: 20px;
}
.Input:focus{
	outline: none;
}
.formContainer{
	height: 500px;
	width: 500px;
}
.DialogueContent{
	width: 500px;
	height: 500px;
}