.Input{
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	font-size: 20px;
}
.Input:focus{
	outline: none;
}
.formContainer{
	height: 500px;
	width: 500px;
}
.DialogueContent{
	width: 500px;
	height: 500px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}